.App {
  align-items: center;
  margin-left: 2em;
}
.App-header {
  display: flex;
}
.App-logo {
  width: 20em;
}
.nav-items {
  display: flex;
}
.nav-items > li {
  list-style: none;
  padding: 10px;
}
