.App {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.App-logo {
  width: 20em;
}
.nav-items {
  display: flex;
}
.nav-items > li {
  list-style: none;
  padding: 10px;
}
