* {
  box-sizing: border-box;
}
body {
  background-color: #22254b;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}
.movie {
  background-color: #373b69;
  border-radius: 3px;

  margin: 1rem;
  width: 250px;
}
.movie img {
  max-width: 100%;
}
.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.movie info h3 {
  margin: 0;
}
